@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click to view <a asp-area="" asp-controller="Accounts" asp-action="Index">Accounts</a> page.</p>
</div>
